# Sandfly Configuration
SANDFLY_VERSION=5.5.1
SANDFLY_IMAGE_BASE=quay.io/sandfly
SANDFLY_HOSTNAME=hostname

# Logging Configuration
LOG_MAX_SIZE=100m

# PostgreSQL Configuration
POSTGRES_PASSWORD=changeme
POSTGRES_MAX_CONNECTIONS=60
POSTGRES_SHARED_BUFFERS=262144
POSTGRES_EFFECTIVE_CACHE_SIZE=786432
POSTGRES_MAINTENANCE_WORK_MEM=1048576
POSTGRES_WAL_BUFFERS=32
POSTGRES_WORK_MEM=64
POSTGRES_MAX_WORKER_PROCESSES=4
POSTGRES_MAX_PARALLEL_WORKERS_PER_GATHER=4
POSTGRES_MAX_PARALLEL_WORKERS=4
POSTGRES_MAX_PARALLEL_MAINTENANCE_WORKERS=4
